.header {
    background-color: rgb(192, 190, 190);
    color: black;
}
menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
   }
   .menu__link{
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: rgb(134, 18, 125);
    color: rgb(255, 255, 255);
    text-decoration: none;
   }
   .header__login{
    display: inline-block;
     padding: 10px;
     margin: 5px;
     background-color: rgb(95, 103, 110);
     color: rgb(255, 255, 255);
     text-decoration: none;
    }
    .header__logo-wrap{
        display: flex;
        align-items: center;
        gap: 10px;
       }
       .header__logo-wrap{
        text-decoration: none;
        color: rgb(121, 0, 75);
       }
       .header__title{
        margin: 0;
       }
           